## <span style='font-family:"Times New Roman"'>Importing libraries

In [1]:
import pandas as pd
from sklearn.metrics import cohen_kappa_score
import re

## <span style='font-family:"Times New Roman"'>Downloading dataset

In [2]:
"""Original annotated dataset"""
gold_original = pd.read_csv("https://www.dropbox.com/s/y1a7kkrnko8mp5t/gold%20-%20newgold3.csv?dl=1", names=['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L'])

## <span style='font-family:"Times New Roman"'>Converting dataset to test set

In [5]:
def create_custom_test(data):
    """Storing all implicit/explicit labels,
    with their accompanying tweets"""
    hate_labels = []
    hate_tweets = []
    for label, text in zip(data['K'], data['C']):
        if label == 'y':
            hate_labels.append('EXPLICIT')
            hate_tweets.append(text)
        elif label == 'n':
            hate_labels.append('IMPLICIT')
            hate_tweets.append(text)
            
    """Selecting 697 non implicit/explicit tweets,
    with their accompanying tweets"""
    not_hate_labels = []
    not_hate_tweets = []
    for label, text in zip(data['K'], data['C']):
        if label != 'y':
            if label != 'n':
                match = re.search(r'https.*', text)
                if not match:
                    if len(text) > 5:
                        if len(not_hate_labels) < 697:
                            not_hate_labels.append('NOT')
                            not_hate_tweets.append(text)
                            
    return hate_tweets, hate_labels, not_hate_tweets, not_hate_labels  
                        
                        
def concate_dataset(h_tweets, h_labels, nh_tweets, nh_labels):
    """Creating a dataset with all explicit labels and text"""
    df1 = pd.DataFrame()
    df1['Text'] = h_tweets
    df1['Explicitness'] = h_labels
    
    """Creating a dataset with all non explicit labels and text"""
    df2 = pd.DataFrame()
    df2['Text'] = nh_tweets
    df2['Explicitness'] = nh_labels
    
    """Concatenating hate/non-hate datasets"""
    dataframes = [df1, df2]
    df_gold = pd.concat(dataframes)
    
    """Reshuffeling the data set, and resetting the index"""
    df_gold = df_gold.sample(frac=1).reset_index(drop=True)
    
    """Store new dataset"""
    df_gold.to_csv(r'C:\Users\AW\Thesis\df_gold.csv', index=False)
    return df_gold

In [6]:
"""Creating the test set with all hate tweets/non hate tweets, and merge and reshuffle them"""
hate_tweets, hate_labels, non_hate_tweets, non_hate_labels = create_custom_test(gold_original)
df_gold = concate_dataset(hate_tweets, hate_labels, non_hate_tweets, non_hate_labels)

In [7]:
df_gold.shape

(999, 2)

In [7]:
df_gold.head()

                                                Text Explicitness
0  @050Roy @thierrybaudet @Frederik_Jansen Ach hi...     EXPLICIT
1  @_WD69_ @Joop_nl @thierrybaudet @fvdemocratie ...     IMPLICIT
2  @timefornewname @thierrybaudet En de rest heef...          NOT
3  @BergsmaGert @VizierOpLinks @thierrybaudet @SP...     IMPLICIT
4  @geertwilderspvv Volgens mij ben je baas over ...          NOT

In [8]:
df_gold.tail()

                                                  Text Explicitness
857  @MHarijk @hendrikotten3 @HaagseInsider @thierr...          NOT
858  @sebe3835 @robvbussel @daandoet @rimpeling @th...          NOT
859  @thierrybaudet @bramkrikke @Videoland Zieke Heli!          NOT
860  @PeterdeWilde10 @IsKritisch @TeekmanRob @thier...          NOT
861  @Kirsten_Grunn @SandraBeckerman Ja komt goed. ...          NOT